#nav-icon-yellow-loading {
	position: relative;
	left: 48%;
	top: 50%;
	max-width: 100px;
	max-height: 100px;
	/* Standard syntax */
	animation-name: example;
	animation-duration: 1s;
	animation-timing-function: linear;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



/* Standard syntax */
@keyframes example {
	0%   {height: 100px; width: 100px}
	25%   {height: 95px; width: 105px}
	50%   {height: 90px; width: 110px}
	75%   {height: 85px; width: 115px}
	100%   {height: 80px; width: 120px}
	/*from {width: 50px; height: 80px;}*/
	/*to {width: 80px; height: 50px;}*/
}


#loader {
	/*position: relative;*/
	margin-top: 150px;
	top:50%;
	left: 50%;
}

#followingBallsG{
	position:relative;
	width:122px;
	height:9px;
	margin:auto;
}

.followingBallsG{
	background-color:rgba(44,118,222,0.65);
	position:absolute;
	top:0;
	left:0;
	width:9px;
	height:9px;
	border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	animation-name:bounce_followingBallsG;
		-o-animation-name:bounce_followingBallsG;
		-ms-animation-name:bounce_followingBallsG;
		-webkit-animation-name:bounce_followingBallsG;
		-moz-animation-name:bounce_followingBallsG;
	animation-duration:2.08s;
		-o-animation-duration:2.08s;
		-ms-animation-duration:2.08s;
		-webkit-animation-duration:2.08s;
		-moz-animation-duration:2.08s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#followingBallsG_1{
	animation-delay:0s;
		-o-animation-delay:0s;
		-ms-animation-delay:0s;
		-webkit-animation-delay:0s;
		-moz-animation-delay:0s;
}

#followingBallsG_2{
	animation-delay:0.21s;
		-o-animation-delay:0.21s;
		-ms-animation-delay:0.21s;
		-webkit-animation-delay:0.21s;
		-moz-animation-delay:0.21s;
}

#followingBallsG_3{
	animation-delay:0.42s;
		-o-animation-delay:0.42s;
		-ms-animation-delay:0.42s;
		-webkit-animation-delay:0.42s;
		-moz-animation-delay:0.42s;
}

#followingBallsG_4{
	animation-delay:0.62s;
		-o-animation-delay:0.62s;
		-ms-animation-delay:0.62s;
		-webkit-animation-delay:0.62s;
		-moz-animation-delay:0.62s;
}



@keyframes bounce_followingBallsG{
	0%{
		left:0px;
		background-color:rgb(44,118,222);
	}

	50%{
		left:112px;
		background-color:rgba(63,84,217,0.45);
	}

	100%{
		left:0px;
		background-color:rgba(94,107,196,0.55);
	}
}

@-o-keyframes bounce_followingBallsG{
	0%{
		left:0px;
		background-color:rgb(44,118,222);
	}

	50%{
		left:112px;
		background-color:rgba(63,84,217,0.45);
	}

	100%{
		left:0px;
		background-color:rgba(94,107,196,0.55);
	}
}

@-ms-keyframes bounce_followingBallsG{
	0%{
		left:0px;
		background-color:rgb(44,118,222);
	}

	50%{
		left:112px;
		background-color:rgba(63,84,217,0.45);
	}

	100%{
		left:0px;
		background-color:rgba(94,107,196,0.55);
	}
}

@-webkit-keyframes bounce_followingBallsG{
	0%{
		left:0px;
		background-color:rgb(44,118,222);
	}

	50%{
		left:112px;
		background-color:rgba(63,84,217,0.45);
	}

	100%{
		left:0px;
		background-color:rgba(94,107,196,0.55);
	}
}

@-moz-keyframes bounce_followingBallsG{
	0%{
		left:0px;
		background-color:rgb(44,118,222);
	}

	50%{
		left:112px;
		background-color:rgba(63,84,217,0.45);
	}

	100%{
		left:0px;
		background-color:rgba(94,107,196,0.55);
	}
}