html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

body {
    background-color:#cfd8dc;
    overflow: hidden;
}

#all-body {
    display: none;
}

.navbar {
    /*background-color: rgb(3, 155, 229);*/
    /*background-color: rgb(3, 118, 176);*/
    /*background-color: rgb(3, 135, 201);*/
    background-color: rgb(2, 136, 209);
    padding-left: 0px;
    /*min-height: 50px;*/
    /*height: 7vh;*/
    height: 48px;
    box-shadow: 0px 2px 7px #888, 0px -2px 7px #888;
    /*position:fixed;!*!emad*!	*/
    width:100%;
    z-index:99;


}

#menu-button{
    display:none;
    cursor: pointer;
}

#nav-icon-svg{
    width: 82px;
    margin-left: 12px;
    margin-right: 0px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}

#nav-icon-yellow {
    position: relative;
    margin-left: 20px;
    margin-right: 0px;
    width: 28px;
    top: -1px;
    cursor: pointer;
}

.navbar .container-fluid {
    padding-left: 0px;
}

#nav-overview {
    color: white;
    padding-top: 7px;
    float: right;
    margin-left: 30px;
}

#view-only {
    color: rgb(249, 253, 255);
    cursor: default;
    font-size: 13px;
    font-weight: 500;
    align-self: center;
    /*margin-left: 16px;*/
    /*margin-right: 8px;*/
    padding: 0 12px;
    /*position: relative;*/
}

#visibility-container {
    position: relative;
    background-color: #03a9f4;
    border-radius: 12px;
    margin-right: 8px;
}

#hover-view-only { /*need to be completely deleted, display: none in @media max-width: something*/
    /*background-color: black;*/
    background: url("img/hover-transparent.png") no-repeat;
    border-radius: 5px;
    background-size: 100% 100%;
    top: 38px;
    position: absolute;
    left: 0;
    right: 0;
    width: 220px;
    height: 40px;
    /*width: 350px;*/
    /*height: 40px;*/
    text-align: center;
    /*margin-top: 5px;*/
    z-index: 100;
    /*margin-left: 25px;*/
    color: lightgray;
    /*margin: 0 auto;*/
    margin-left: -50px;
    visibility: hidden;
}

#hover-view-only span {
    display: inline-block;
    padding-top: 12px;
}

#visibility-container:hover #hover-view-only{
    visibility: visible;
}

#visibility-icon {
    color: white;
    font-size: 18px;
    padding-top: 3px;
    padding-right: 1px;
}

#visibility-icon-container {
    /*margin-top: 5px;*/
    float: left !important;
}

#view-only-text-container {
    margin-left: 5px;
    padding-bottom: 5px;
    float: right !important;
    display: inline-block;
}


#go-to-docs {
    /*margin-left: 8px;*/
    padding: 0 8px;
}

#go-to-docs a{
    /*color: lightgray;*/
    color: rgb(161, 211, 238);
    /*color :rgb(45, 89, 134);*/
    font-size: 14px;
    font-weight: 500;
    align-self: center;
    text-decoration: none;
}

#go-to-docs a:hover {
    color: white;
}

#three-dots {
    top: 3px;
    position: relative;
    cursor: pointer;
}

#three-dots-hover {
    background-color: white;
    /*top: 30px;*/
    position: absolute;
    /*left: 0;*/
    right: 20%;
    top: 10%;
    margin: auto;
    display: inline-block;
    float: left;
    /*width: 150px;*/
    /*height: 20px;*/
    text-align: center;
    z-index: 100;
    width: 170px;
    border-radius: 4px;

    visibility: hidden;
}

.three-dots-lower-div {
    border: 1px solid rgba(162, 146, 155, 0.2);
    /*height: 40px;*/
    /*line-height: 40px;*/
}

#three-dots-hover i {
    margin-left: 5px;
    position: relative;
    top: 15%;
}

#three-dots-hover span {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0;
    height: 30px;
    width: 100%;
    font-weight: 500;
}

#three-dots-hover span:hover {
    background-color: #eeeeee;
}

#three-dots-icon {
    font-size: 20px;
    /*color: rgb(180, 220, 241);*/
    color: rgb(161, 211, 238);
}


#usr-img {
    width: 22px;
    height: auto;
}


/****************************** END MILAD ******************************/

#setting-icon{
    padding-left: 0px;
    font-size: 16px;
}
#overview-div {
    padding: 14px;
    /*background-color: #f4f9f9;*/ /* MILAD */
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(44, 55, 59, 0.26); /*MILAD*/
}
#overview-div:hover{
    background-color:#ededed ;
}
#overview-link{
    padding-right: 60px;
    border-right: 1px solid rgba(4, 48, 70, 0.2); /* MILAD */
}

/* MILAD */

/*#super-container {*/
/*width: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*!*margin-top:48px;*!*/
/*z-index: 0;*/
/*position: absolute;*/
/*height: 92vh;*/
/**/
/*}*/


#super-container {
    width: 100%;
    margin: 0;
    z-index: 0;
    height: 100%;
    display: table;
}


#sidebarlist{
    /*overflow-y: scroll;*/ /* LAST MINUTE CHANGE BY MILAD*/
    overflow-y: auto;
    height: 79vh;
    background-color: white;
    margin-bottom: 0;
}

#sidebar{
    /*float: left;*/ /* MILAD */
    position: relative;
    color: #636363;
    background-color: white;
    display: table-cell;
    height: calc(100vh - 48px);
    /*padding-top: 5px; !* MILAD *!*/


}
.sidebar-items:hover{
    background-color: #ededed;
}
.sidebar-items{
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 23px;
    font-size: 14px;
}
.sidebar-seperator{
    color: #c4c4c4;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 23px;
    font-size: 14px;
}
.material-icons {
    padding-right: 15px;
    font-size: 20px;

}

#antimodify{
    float: left;
    padding-left: 23px;
}
#blaze{
    font-size: 14px;
    padding-bottom: 1px;
}
#pay{
    font-size: 11px;
    padding-top: 1px;
}

#modify{
    padding-left: 40px;
    padding-top: 20px;
}

#modifydiv{
    border-top: 1px solid rgba(44, 55, 59, 0.26);

    height: 60px;
    background-color: white;
}


/*ezafe baraye test*/
.wrapper{
    align-items: stretch;
    display: flex;
}




/*#content-container {*/
/*overflow: auto; !* HOLY MOTHER OF CSS and stackoverflow (BFC) *!*/
/*width: auto;*/
/*}*/

#content-container {
    display: table-cell;
    vertical-align: top;
    /*overflow-y: scroll;*/
    /*width: 100%;*/
}

#content-container-trick {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

/* MILAD */

#smaller-container {
    position: relative;
    width: 75%;
    float: none;
    margin: 10px auto;
}



#setting-icon { /* MILAD */
    padding-right: 0px; /* solution for getting down the icons is: icon {position: relative; top:10% more or less;}*/
}

#overview-icon{
    padding-left: 9px;
}

/*#content-container{*/
/*float: right;*/
/*}*/

/************** (PERHAPS) EMAD ***********/



.discover-firebase{
    color:rgba(0,0,0,0.54);
    margin-left: 12px;
    /*align:center;*/ /* MILAD */
    font-size: 14px;
    line-height: 24px;
    /*margin-left:400px;*/ /* MILAD */
    margin-top:50px;
    position:relative;

}
.box{
    /*margin-left: 150px;*
    /*margin-top: 12px;*/
    /*margin-right: 8px;*/
    margin: 4px 12px 24px 12px;
    width: 296px;
    display:inline-table;
    box-shadow: 0px 1px 1px #888888;
    border-radius: 2px;
}


/*.box:nth-of-type(2n) {*/ /* MILAD */
/*margin-right: 0;*/
/*margin-left: 4px;*/


/*}*/



.box-img{

    width: 100%;

}
.box-text {

    min-height: 120px;
    padding: 16px;
    background-color:white;
}
.box-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    color:rgba(0,0,0,0.87);
}

.box-details {
    color: rgba(0,0,0,0.54);
    font-size: 13px;
    line-height: 20px;}

.box-bottom {
    padding-top: 35px;
    padding-right: 0px;

    min-height: 44px;
    width: 100%;

}

.box-learnmore{
    color: #039be5;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

.box-start {

    margin: 0 0px 0 75px;
    letter-spacing: .01em;
    color:rgb(3,155,229);
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    outline: none;
    border: 0;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;


}

.box-start:hover {background-color: #e8f8ff}
.box-start:active {background-color: #91e5ff}

/* MILAD */

@media screen and (min-width: 700px) {
    #sidebar {
        float: left;
        width: 250px; /* MILAD */
    }


}



@media screen and (max-width: 699px) {
    #sidebar {
        /*display: hidden or something here!!*/
        visibility: hidden;

    }

    #super-container {
        overflow: visible;
        width: 100%;
    }

    #content-container {
        width: 100%;
        position: absolute;
        top: 15%;

    }

    #smaller-container {
        display: table;
        margin: 0 auto;
    }

    .discover-firebase {
        margin-top: 0px;
    }

    #view-only {
        display: none;
    }

    #hover-view-only {
        display: none;
    }

    #go-to-docs {
        display: none;
    }

    .navbar-brand {
        display: none;
    }
    #menu-button{
        display:inline;
    }

}

/*5shanbe last edits*/

#content-container{
    /*height: 92vh;*/
    height: calc(100vh - 48px);
}

#wrapper {

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}

#wrapper.toggled span {
    display : none;
}
#wrapper.toggled #modifydiv {
    display : none;
}
#wrapper.toggled #setting-link,#wrapper.toggled #overview-link {
    display : none;
}

#wrapper.toggled #sidebar {
    width: 80px;
    overflow:hidden;

}
#wrapper.open #sidebar {
    visibility:visible;
    z-index:2000;

}
#wrapper.open #menu-toggle{
    display: none;
}
#menu-toggle{
    width: 100%;
    display: inline-block;
    border-top: 1px solid rgba(44, 55, 59, 0.26);
    position: absolute;
    bottom: 0;
    left: 0;
}

#menu-toggle i{
    cursor: pointer;
}

#menu-toggle:hover{
    background-color: #ededed; ;
}

#sidebar li{
    cursor: pointer;
}



/*>>>>>>> bebe30ef192cd2fd9177d87ce1934e3b2d9ab556*/
